process {
    withName: FGUMI_SNAPZIPSORT {
        // SNAP
        ext.args  = ""
        // Initial Sort
        ext.args2 = {
            ["--order queryname::natural", "--compression-level 0", "--key-types mi"].join(" ").trim()
        }
        // Zipper
        ext.args3 = {
            ["--compression-level 0"].join(" ").trim()
        }
        // Final Sort
        ext.args4 = {
            [
                "--order template-coordinate",
                "--key-types mi",
            ].join(" ").trim()
        }
    }
}
