/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-cmgg/preprocessing Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    igenomes_base                = '/references/'
    igenomes_ignore              = false

    publish_dir_mode             = 'copy'
    monochrome_logs              = false
    hook_url                     = System.getenv('HOOK_URL')
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    custom_config_version        = 'main'
    custom_config_base           = "https://raw.githubusercontent.com/nf-cmgg/configs/${params.custom_config_version}"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

profiles {
    debug {
        process.beforeScript                         = 'echo $HOSTNAME'
        cleanup                                      = false
        nextflow.enable.configProcessNamesValidation = true
    }
    docker {
        appleContainer.enabled = false
        apptainer.enabled      = false
        charliecloud.enabled   = false
        conda.enabled          = false
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
        podman.enabled         = false
        shifter.enabled        = false
        singularity.enabled    = false
    }
    arm64 {
        process.arch            = 'arm64'
        // TODO https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = ["conda", "container"]
    }
    apple {
        appleContainer.enabled = true
        apptainer.enabled      = false
        charliecloud.enabled   = false
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        singularity.enabled    = false
    }
    emulate_amd64 {
        appleContainer.runOptions = '-u $(id -u):$(id -g) --arch amd64'
        docker.runOptions         = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        appleContainer.enabled = false
        apptainer.enabled      = false
        charliecloud.enabled   = false
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        singularity.autoMounts = true
        singularity.enabled    = true
    }
    podman {
        appleContainer.enabled = false
        apptainer.enabled      = false
        charliecloud.enabled   = false
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = true
        shifter.enabled        = false
        singularity.enabled    = false
    }
    shifter {
        appleContainer.enabled = false
        apptainer.enabled      = false
        charliecloud.enabled   = false
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = true
        singularity.enabled    = false
    }
    charliecloud {
        appleContainer.enabled = false
        apptainer.enabled      = false
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        singularity.enabled    = false
    }
    apptainer {
        appleContainer.enabled = false
        apptainer.autoMounts   = true
        apptainer.enabled      = true
        charliecloud.enabled   = false
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        singularity.enabled    = false
    }
    wave {
        wave.strategy           = ["conda", "container"]
        wave.freeze             = true
        wave.enabled            = true
        singularity.ociAutoPull = true
        apptainer.ociAutoPull   = true
    }
    gpu {
        docker.runOptions      = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions   = '--nv'
        singularity.runOptions = '--nv'
    }
    test {
        includeConfig 'conf/test.config'
    }
    test_full {
        includeConfig 'conf/test_full.config'
    }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-cmgg/preprocessing custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// Load nf-cmgg/preprocessing custom profiles from different institutions.
includeConfig params.custom_config_base && params.custom_config_base.contains('nf-cmgg') && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/preprocessing.config" : "/dev/null"

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = ["bash", "-C", "-e", "-u", "-o", "pipefail"].join(' ')

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.mmd"
}

manifest {
    name            = 'nf-cmgg/preprocessing'
    contributors    = [
        [
            name: 'Matthias De Smet',
            affiliation: 'Center for Medical Genetics Ghent, Ghent University, Belgium',
            email: 'matthias.desmet@ugent.be',
            github: '@matthdsm',
            contribution: ["author", "maintainer"],
            orcid: 'https://orcid.org/0000-0003-2555-3114',
        ],
        [
            name: ' Nicolas Vannieuwkerke',
            affiliation: 'Center for Medical Genetics Ghent, Ghent University Hospital, Belgium',
            email: 'nicolas.vannieuwkerke@ugent.be',
            github: '@nvnieuwk',
            contribution: ["maintainer"],
            orcid: 'https://orcid.org/0009-0003-5619-1555',
        ],
    ]
    homePage        = 'https://github.com/nf-cmgg/preprocessing'
    description     = """Demultiplexing, adapter trimming, alignment, and coverage calculation for NGS data."""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=26.04.0'
    version         = '3.0.2'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.7.2'
}

validation {
    defaultIgnoreParams = ["genomes"].toSet()
    monochromeLogs      = params.monochrome_logs.toBoolean()
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Set default output dir and publish mode
// Temporary fix until the nf-core template supports workflow output definitions
workflow.output.mode = params.publish_dir_mode
outputDir = params.outdir
