process {
    withName: FGUMI_EXTRACTSORT {
        ext.prefix = { "${meta.id}.fgumi.unmapped" }
        ext.args   = {
            ["--read-group-id ${meta.readgroup?.get('ID') ?: meta.id}", meta.fgumi_extract_mode.toLowerCase() == "read_names" ?: "--extract-umis-from-read-names", meta.fgumi_extract_mode.toLowerCase() == "read_structures" ?: "-read-structures ${meta.fgumi_read_structure_r1} ${meta.fgumi_read_structure_r2}"].join(" ").trim()
        }
        ext.args2  = {
            ["--order queryname::natural"].join(" ").trim()
        }
    }
    withName: RAW_FGUMI_SNAPZIPSORT {
        // SNAP
        ext.args  = ""
        // Initial Sort
        ext.args2 = {
            ["--order queryname::natural", "--compression-level 0", "--key-types mi"].join(" ").trim()
        }
        // Zipper
        ext.args3 = {
            ["--compression-level 0"].join(" ").trim()
        }
        // Final Sort
        ext.args4 = {
            [
                "--order template-coordinate",
                "--key-types mi",
            ].join(" ").trim()
        }
    }
    withName: UMI_FGUMI_SNAPZIPSORT {
        // SNAP
        ext.args  = ""
        // Initial Sort
        ext.args2 = {
            ["--order queryname::natural", "--compression-level 0", "--key-types mi"].join(" ").trim()
        }
        // Zipper
        ext.args3 = {
            ["--compression-level 0"].join(" ").trim()
        }
        // Final Sort
        ext.args4 = {
            [
                "--order coordinate",
                "--key-types mi",
            ].join(" ").trim()
        }
    }
}
