/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/


// Include test data config from nf-core/modules
includeConfig "https://raw.githubusercontent.com/nf-core/modules/master/tests/config/test_data.config"
