/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-cmgg/preprocessing Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { 1      * task.attempt }
    memory = { 8.GB   * task.attempt }
    time   = { 4.h    * task.attempt }
    machineType = 'template://gen-nfbatch-dev-small' // e2-standard-4

    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175 + 50001 + 50002 + 50003 + 50004 + 50005 + 50006) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    // Process-specific resource requirements
    withLabel:process_single {
        machineType = 'template://gen-nfbatch-dev-small' // e2-standard-4
        cpus   = { 1                   }
        memory = { 8.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        machineType = 'template://gen-nfbatch-dev-small' // e2-standard-4
        cpus   = { 2     * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_medium {
        machineType = 'template://gen-nfbatch-dev-medium' // n2-highmem-8
        cpus   = { 8     * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high {
        machineType = 'template://gen-nfbatch-dev-large' // n2-highmem-16
        cpus   = { 16    * task.attempt }
        memory = { 128.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
    }
}
