process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9a/9a1fec9662a152683e6fcae440d0ce20920b3b89dc62d1e3a52e73f92eba0969/data' } }
process { withName: 'MULTIQCSAV' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b0/b047611068a4009d62d8352e8bb4ab27fa993708a82c029f115e6758b2e44bec/data' } }
