process { withName: 'FASTP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/42/42ea3a248c30a6eb0ab5d5ca35ce8b50aab6ca75e982d43420779214517a516b/data' } }
process { withName: 'FGUMI_EXTRACT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a8/a8a09ab5b500dc5a4ff93fe835b6e8afa4e3636b8075771b1e011bc2dad16aa0/data' } }
process { withName: 'FGUMI_FILTER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a8/a8a09ab5b500dc5a4ff93fe835b6e8afa4e3636b8075771b1e011bc2dad16aa0/data' } }
process { withName: 'FGUMI_GROUP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a8/a8a09ab5b500dc5a4ff93fe835b6e8afa4e3636b8075771b1e011bc2dad16aa0/data' } }
process { withName: 'FGUMI_MERGE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a8/a8a09ab5b500dc5a4ff93fe835b6e8afa4e3636b8075771b1e011bc2dad16aa0/data' } }
process { withName: 'FGUMI_SIMPLEX' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a8/a8a09ab5b500dc5a4ff93fe835b6e8afa4e3636b8075771b1e011bc2dad16aa0/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e4/e48aa28aebc881254a499b24c3e1ce77b8df1b85a5432699ed6f72eb17ac7fb5/data' } }
process { withName: 'MULTIQCSAV' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/05/053f6d8c55b57e04b654070a3bd6eaa90685590158019d35c16092d301b80cb1/data' } }
process { withName: 'STROBEALIGN' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/54/54a576c51485cf7af3223084b2bfffabbe1c25c92c987ba564bb061ad0a16c89/data' } }
