process { withName: 'FASTP' { conda = 'modules/nf-core/fastp/.conda-lock/linux_amd64-bd-4df8d6c11b471bde_1.txt' } }
process { withName: 'FGUMI_EXTRACT' { conda = 'modules/nf-core/fgumi/extract/.conda-lock/linux_amd64-bd-c97194d17da0d1cd_1.txt' } }
process { withName: 'FGUMI_FILTER' { conda = 'modules/nf-core/fgumi/filter/.conda-lock/linux_amd64-bd-c97194d17da0d1cd_1.txt' } }
process { withName: 'FGUMI_GROUP' { conda = 'modules/nf-core/fgumi/group/.conda-lock/linux_amd64-bd-c97194d17da0d1cd_1.txt' } }
process { withName: 'FGUMI_MERGE' { conda = 'modules/nf-core/fgumi/merge/.conda-lock/linux_amd64-bd-c97194d17da0d1cd_1.txt' } }
process { withName: 'FGUMI_SIMPLEX' { conda = 'modules/nf-core/fgumi/simplex/.conda-lock/linux_amd64-bd-c97194d17da0d1cd_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-c17fb751507e9dfc_1.txt' } }
process { withName: 'MULTIQCSAV' { conda = 'modules/nf-core/multiqcsav/.conda-lock/linux_amd64-bd-9b10d606ce2f36b6_1.txt' } }
