process { withName: 'FASTP' { conda = 'modules/nf-core/fastp/.conda-lock/linux_arm64-bd-95b49074d3fe9875_1.txt' } }
process { withName: 'FGUMI_EXTRACT' { conda = 'modules/nf-core/fgumi/extract/.conda-lock/linux_arm64-bd-595c95b71b3df5bb_1.txt' } }
process { withName: 'FGUMI_FILTER' { conda = 'modules/nf-core/fgumi/filter/.conda-lock/linux_arm64-bd-595c95b71b3df5bb_1.txt' } }
process { withName: 'FGUMI_GROUP' { conda = 'modules/nf-core/fgumi/group/.conda-lock/linux_arm64-bd-595c95b71b3df5bb_1.txt' } }
process { withName: 'FGUMI_MERGE' { conda = 'modules/nf-core/fgumi/merge/.conda-lock/linux_arm64-bd-595c95b71b3df5bb_1.txt' } }
process { withName: 'FGUMI_SIMPLEX' { conda = 'modules/nf-core/fgumi/simplex/.conda-lock/linux_arm64-bd-595c95b71b3df5bb_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_arm64-bd-5c84a5000a226ab5_1.txt' } }
process { withName: 'MULTIQCSAV' { conda = 'modules/nf-core/multiqcsav/.conda-lock/linux_arm64-bd-077315907ed11315_1.txt' } }
process { withName: 'STROBEALIGN' { conda = 'modules/nf-core/strobealign/.conda-lock/linux_arm64-bd-be473d108d6e0fb8_1.txt' } }
