params {
    genome                  = "hg38"
    aligner                 = "snap"
    run_coverage            = true
    disable_picard_metrics  = true
    bait_regions            = "${params.genomes_base}/Hsapiens/GRCh38.p14/regions/CMGG_coPGT-M_analyses_ROI_v1.bed"
    target_regions          = "${params.genomes_base}/Hsapiens/GRCh38.p14/regions/CMGG_coPGT-M_analyses_ROI_v1.bed"
}

process {
    withName: FASTP {
        ext.args = {[
            "--detect_adapter_for_pe",
            "--trim_front1 6",
            "--adapter_sequence CAGATC",
        ].join(" ").trim()}
        publishDir = [
            [
                path: { "${params.outdir}/${meta.samplename}" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,json}"
            ],
        ]
    }

}
