/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for local genomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using genome paths.
    Can be used by any config that customises the base path using:
        $params.genomes_base / --genomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'hg38' {
            fasta       = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.fa"
            bwa         = "${params.genomes_base}/Hsapiens/hg38/bwa/"
            bwamem2     = "${params.genomes_base}/Hsapiens/hg38/bwamem2/"
            bowtie2     = "${params.genomes_base}/Hsapiens/hg38/bowtie2/"
        }
    }
}
