/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for local genomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using genome paths.
    Can be used by any config that customises the base path using:
        $params.genomes_base / --genomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        "hg38" {
            bowtie2     = "${params.genomes_base}/Hsapiens/hg38/bowtie2/"
            bwa         = "${params.genomes_base}/Hsapiens/hg38/bwa/"
            bwamem2     = "${params.genomes_base}/Hsapiens/hg38/bwamem2/"
            fai         = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.fa.fai"
            fasta       = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.fa"
            snapaligner = "${params.genomes_base}/Hsapiens/hg38/snapaligner/"
        }
        "hg38-noalt" {
            bowtie2     = "${params.genomes_base}/Hsapiens/hg38-noalt/bowtie2/"
            bwa         = "${params.genomes_base}/Hsapiens/hg38-noalt/bwa/"
            bwamem2     = "${params.genomes_base}/Hsapiens/hg38-noalt/bwamem2/"
            fai         = "${params.genomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.fa.fai"
            fasta       = "${params.genomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.fa"
            snapaligner = "${params.genomes_base}/Hsapiens/hg38-noalt/snapaligner/"
        }
    }
}
