/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    // illumina iGenomes reference file paths
    genomes {
        "GRCh38" {
            // Genome reference
            fasta       = "${params.igenomes_base}/genomics/homo_sapiens/genome/GRCh38.p14/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna"
            fai         = "${params.igenomes_base}/genomics/homo_sapiens/genome/GRCh38.p14/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna.fai"
            dict        = "${params.igenomes_base}/genomics/homo_sapiens/genome/GRCh38.p14/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.dict"

            // Aligner reference
            bowtie2     = "${params.igenomes_base}/genomics/homo_sapiens/genome/GRCh38.p14/bowtie2/"
            bwa         = "${params.igenomes_base}/genomics/homo_sapiens/genome/GRCh38.p14/bwa/"
            bwamem2     = "${params.igenomes_base}/genomics/homo_sapiens/genome/GRCh38.p14/bwamem2/"
            dragmap     = "${params.igenomes_base}/genomics/homo_sapiens/genome/GRCh38.p14/dragmap/"
            snap        = "${params.igenomes_base}/genomics/homo_sapiens/genome/GRCh38.p14/snapaligner/"
        }
    }
}

aws {
    client {
        endpoint = "https://s3.ugent.com"
        protocol = "https"
        s3PathStyleAccess = true
        connectionTimeout = 60000
    }
}
