/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    // UGent iGenomes reference file paths
    genomes {
        "GRCh38" {
            // Genome reference
            fasta       = "${params.igenomes_base}/Hsapiens/GRCh38.p14/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna"
            fai         = "${params.igenomes_base}/Hsapiens/GRCh38.p14/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna.fai"
            dict        = "${params.igenomes_base}/Hsapiens/GRCh38.p14/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.dict"

            // Aligner reference
            bowtie2     = "${params.igenomes_base}/Hsapiens/GRCh38.p14/bowtie2/"
            bwa         = "${params.igenomes_base}/Hsapiens/GRCh38.p14/bwa/"
            bwamem2     = "${params.igenomes_base}/Hsapiens/GRCh38.p14/bwamem2/"
            dragmap     = "${params.igenomes_base}/Hsapiens/GRCh38.p14/dragmap/"
            snap        = "${params.igenomes_base}/Hsapiens/GRCh38.p14/snapaligner/"

            // Region files
            coPGT_target= "${params.genomes_base}/Hsapiens/GRCh38.p14/regions/CMGG_coPGT-M_analyses_ROI_v1.bed"
            wes_target  = "${params.genomes_base}/Hsapiens/GRCh38.p14/regions/CMGG_WES_analysis_ROI_v4.bed"

        }
        "GRCh38-noalt" {
            // Genome reference
            fasta       = "${params.igenomes_base}/Hsapiens/GRCh38.p14-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna"
            fai         = "${params.igenomes_base}/Hsapiens/GRCh38.p14-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.fai"
            dict        = "${params.igenomes_base}/Hsapiens/GRCh38.p14-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.dict"

            // Aligner reference
            bowtie2     = "${params.igenomes_base}/Hsapiens/GRCh38.p14-noalt/bowtie2/"
            bwa         = "${params.igenomes_base}/Hsapiens/GRCh38.p14-noalt/bwa/"
            bwamem2     = "${params.igenomes_base}/Hsapiens/GRCh38.p14-noalt/bwamem2/"
            dragmap     = "${params.igenomes_base}/Hsapiens/GRCh38.p14-noalt/dragmap/"
            snap        = "${params.igenomes_base}/Hsapiens/GRCh38.p14-noalt/snapaligner/"
        }
        "Sarscov2" {
            // Genome reference
            fasta       = "${params.igenomes_base}/Sarscov2/NC_045512/seq/GCF_009858895.2_ASM985889v3_genomic.fna"
            fai         = "${params.igenomes_base}/Sarscov2/NC_045512/seq/GCF_009858895.2_ASM985889v3_genomic.fna.fai"
            dict        = "${params.igenomes_base}/Sarscov2/NC_045512/seq/GCF_009858895.2_ASM985889v3_genomic.dict"

            // Aligner reference
            bowtie2     = "${params.igenomes_base}/Sarscov2/NC_045512/bowtie2/"
            bwa         = "${params.igenomes_base}/Sarscov2/NC_045512/bwa/"
            bwamem2     = "${params.igenomes_base}/Sarscov2/NC_045512/bwamem2/"
            dragmap     = "${params.igenomes_base}/Sarscov2/NC_045512/dragmap/"
            snap        = "${params.igenomes_base}/Sarscov2/NC_045512/snapaligner/"
        }
    }
}

aws {
    client {
        endpoint = "https://s3.ugent.be"
        protocol = "https"
        s3PathStyleAccess = true
        connectionTimeout = 60000
    }
}
