/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // BCL convert
    withName: '.*BCL_DEMULTIPLEX:BCLCONVERT' {
        cpus       = 16
        memory     = { 64.GB * task.attempt }
        ext.args   = {
            [
                meta.lane ? "--bcl-only-lane ${meta.lane}" : "",
                "--force",
                "--strict-mode true",
            ].join(" ").trim()
        }
    }

    // FastP
    withName: '.*FASTP' {
        cpus       = 4
        memory     = { 4.GB * task.attempt }
        ext.args   = {
            [
                params.split_fastq > 0  ? "--split_by_lines ${params.split_fastq * 4}" : '',
                params.skip_trimming    ? "--disable_adapter_trimming" : "--detect_adapter_for_pe",
                params.trim_front > 0   ? "--trim_front1 ${params.trim_front}" : "",
                params.trim_tail > 0    ? "--trim_tail1  ${params.trim_tail}" : "",
                params.adapter_R1       ? "--adapter_sequence ${params.adapter_R1}" : "",
                params.adapter_R2       ? "--adapter_sequence_r2 ${params.adapter_R2}" : "",
                "--compression 1",
            ].join(" ").trim()
        }
    }

    // FASTQ_TO_CRAM
    // Readgroup
    // Example:
    // @RG\tID:220614_A00785_0484_AH5W5GDRX2.1\tCN:CMGG\tPU:220614_A00785_0484_AH5W5GDRX2.1.GCACCACC-ATCAGTAC\tPL:ILLUMINA\tLB:CNV_LI_2022_084\tSM:I2200090
    // ID : flowcell(.lane)
    // CN : sequencing center; CMGG
    // PU : flowcell.lane.index
    // PL : platform; ILLUMINA
    // LB : library prep
    // SM : samplename

    //// Bowtie2
    withName: '.*FASTQ_ALIGN_DNA:BOWTIE2_ALIGN' {
        cpus      = 16
        memory    = 32.GB
        ext.args   = {
            [
                "--local",
                "--fast-local",
                meta.readgroup ? "--rg-id ${meta.readgroup.ID}" : "",
                meta.readgroup ? "--rg " + meta.readgroup.findResults { rg -> rg.value?.trim() ? "${rg.key}:${rg.value}" : null }.join(" --rg ") : "",
            ].join(" ").trim()
        }
        ext.args2  = "--fast"
    }

    //// BWA mem/BWA mem2
    withName: '.*FASTQ_ALIGN_DNA:BWAMEM.*_MEM' {
        cpus      = 16
        memory    = 32.GB
        ext.args  = {
            [
                "-K 100000000",
                "-p",
                "-v 3",
                "-Y",
                "-c 250",
                meta.readgroup ? "-R \"@RG\\t" + meta.readgroup.findResults { rg -> rg.value?.trim() ? "${rg.key}:${rg.value}" : null }.join("\\t") + "\"" : "",
            ].join(" ").trim()
        }
        ext.args2 = "--fast"
    }

    //// DRAGEN
    withName: '.*FASTQ_ALIGN_DNA:DRAGMAP_ALIGN' {
        cpus      = 16
        memory    = 32.GB
        ext.args  = {
            [
                meta.readgroup ? "--RGSM \"@RG\\t" + meta.readgroup.findResults { rg -> rg.value?.trim() ? "${rg.key}:${rg.value}" : null }.join("\\t") + "\"" : ""
            ].join(" ").trim()
        }
        ext.args2 = "--fast"
    }

    // -b-    : Don't lock threads to cpu cores, improves performance when scheduling multiple jobs/node
    // -sm 20 : Allow 20GB of memory for sorting threads
    // -I     : ignore IDs that don't match in the paired-end aligner
    // -hc-   : enable DRAGEN compatible mode
    // -S id  : disable indexing and duplicate marking
    // -sa    : include secondary and supplementary alignments
    // -xf 2  : expansion factor for reading compressed data

    //// SNAP
    withName: '.*FASTQ_ALIGN_DNA:SNAPALIGNER_ALIGN' {
        cpus      = 16
        memory    = 64.GB
        ext.args = {
            [
                "-b-",
                "-sm 20",
                "-I",
                "-hc-",
                "-S id",
                "-sa",
                "-xf 2",
                meta.readgroup ? "-R \"@RG\\t" + meta.readgroup.findResults { rg -> rg.value?.trim() ? "${rg.key}:${rg.value}" : null }.join("\\t") + "\"" : "",
            ].join(" ").trim()
        }
    }

    //// STROBEALIGN
    withName: '.*FASTQ_ALIGN_DNA:STROBEALIGN' {
        cpus      = 16
        memory    = 32.GB
        ext.args = {
            [
                meta.readgroup ? "--rg-id ${meta.readgroup.ID}" : "",
                meta.readgroup ? "--rg " + meta.readgroup.findResults { rg -> rg.value?.trim() ? "${rg.key}:${rg.value}" : null }.join(" --rg ") : "",
                "-C",
            ].join(" ").trim()
        }
    }

    //// STAR
    withName: '.*FASTQ_ALIGN_RNA:STAR_ALIGN' {
        cpus      = 16
        memory    = 64.GB
        ext.args = {
            [
                "--readFilesCommand gunzip -c",
                "--twopassMode Basic",
                "--outSAMtype BAM Unsorted",
                "--outSAMunmapped Within",
                "--outSAMattributes All",
                "--chimSegmentMin 20",
                "--outFilterMismatchNmax 4",
                meta.readgroup ? "--outSAMattrRGline \"ID:${meta.readgroup.ID}" + meta.readgroup.findResults { rg -> rg.value?.trim() && rg.key != "ID" ? "${rg.key}:${rg.value}" : null }.join(" ") + "\"" : "",
            ].join(" ").trim()
        }
    }

    withName: '.*FASTQ_ALIGN_RNA:CAT_SPLICE_JUNCTIONS' {
        ext.prefix = { "${meta.id}.unsorted.Sj.out.tab" }
    }

    withName: '.*FASTQ_ALIGN_RNA:CAT_JUNCTIONS' {
        ext.prefix = { "${meta.id}.unsorted.Chimeric.out.junction" }
    }

    withName: '.*FASTQ_ALIGN_RNA:SORT_SPLICE_JUNCTIONS' {
        ext.prefix = { "${meta.id}.Sj.out" }
        ext.args   = '-k1,1n -k2,2n -k3,3n'
    }

    withName: '.*FASTQ_ALIGN_RNA:SORT_JUNCTIONS' {
        ext.prefix = { "${meta.id}.Chimeric.out" }
        ext.args   = '-k1,1n -k2,2n -k4,4n -k5,5n'
    }

    //// Samtools sormadup
    withName: '.*FASTQ_TO_CRAM:SAMTOOLS_SORMADUP' {
        cpus       = 16
        memory     = 64.GB
        ext.prefix = { "${meta.id}.merged" }
        ext.args   = "--verbosity 5"
        ext.args2  = "--verbosity 5"
        ext.args3  = "--verbosity 5"
        ext.args4  = "--verbosity 5"
        ext.args5  = {
            [
                "--verbosity 5",
                "-s",
                "--json",
                "-d 2500",
                params.umi_aware ? "--barcode-name" : "",
                "--write-index",
                "--output-fmt cram,version=3.0",
                "--output-fmt-option archive",
            ].join(" ").trim()
        }
    }

    //// Samtools multisort
    withName: '.*FASTQ_TO_CRAM:SAMTOOLS_SORT' {
        cpus       = 16
        memory     = 64.GB
        ext.prefix = { "${meta.id}.merged" }
        ext.args   = {
            [
                "--write-index",
                "--output-fmt cram,version=3.0",
                "--output-fmt-option archive",
            ].join(" ").trim()
        }
    }

    //// BioBamBam Bamsormadup
    withName: '.*FASTQ_TO_CRAM:BIOBAMBAM_BAMSORMADUP' {
        cpus       = 8
        memory     = 16.GB
        ext.prefix = { "${meta.id}.merged" }
        ext.args   = {
            [
                "indexfilename=${meta.id}.merged.bam.bai",
                "optminpixeldif=2500",
            ].join(" ").trim()
        }
        ext.args2  = "exclude=QCFAIL"
    }

    //// Samtools convert
    withName: '.*FASTQ_TO_CRAM:SAMTOOLS_CONVERT' {
        cpus       = 8
        memory     = 8.GB
        ext.args   = {
            [
                "-C",
                "--output-fmt cram,version=3.0",
                "--output-fmt-option archive",
            ].join(" ").trim()
        }
    }

    // coverage
    //// Mosdepth
    withName: '.*COVERAGE:MOSDEPTH' {
        cpus     = 4
        memory   = { 4.GB * task.attempt }
        ext.args = [
            "--flag 1804",
            "--mapq 1",
            "--quantize 0:1:4:",
        ].join(" ").trim()
    }

    //// Samtools coverage
    withName: '.*COVERAGE:SAMTOOLS_COVERAGE' {
        cpus = 1
        memory = 1.GB
        ext.prefix = { "${meta.id}.coverage" }
    }

    // QC

    withName: '.*BAM_QC:SAMTOOLS_.*$' {
        cpus = 1
        memory = 1.GB
    }

    //// Picard
    withName: '.*BAM_QC:PICARD_.*$' {
        cpus     = 1
        memory   = { 16.GB * task.attempt }
        ext.args = "--MAX_RECORDS_IN_RAM 50000000"
    }

    withName: '.*MD5SUM' {
        cpus = 1
        memory = 128.MB
    }

    // MultiQC
    withName: '.*MULTIQC_.*$' {
        cpus   = 1
        memory = 4.GB
    }
    withName: '.*MULTIQC_MAIN' {
        ext.prefix = { params.multiqc_title ? params.multiqc_title : "multiqc" }
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
    }

    withName: '.*MULTIQC_LIBRARY' {
        cpus = 1
        memory = 4.GB
        ext.prefix = { meta.id ? "${meta.id}" : "multiqc_library" }
        ext.args   = { meta.id ? "--title \"${meta.id} - Pool Summary\"" : '' }
    }
}

env {
    // Add env variables for MOSDEPTH
    MOSDEPTH_Q0 = 'NO_COVERAGE'
    MOSDEPTH_Q1 = 'LOW_COVERAGE'
    MOSDEPTH_Q2 = 'CALLABLE'
}
