
conda.enabled          = false
docker.enabled         = false
singularity.enabled    = false
podman.enabled         = false
shifter.enabled        = false
charliecloud.enabled   = false

params {
    config_profile_description  = 'CMGG Nomad job config'
    config_profile_contact      = '@matthdsm'
    max_memory                  = 64.GB
    max_cpus                    = 8
    max_time                    = 72.h
}

executor {
    name          = 'local'
    cpus          = 36
    memory        = 288.GB
}

report {
    overwrite = true
}
