params {
    genome                  = "GRCh38"
    aligner                 = "snap"
    run_coverage            = true
    disable_picard_metrics  = false
}

process {
    withName: SAMTOOLS_CONVERT {
        cpus = { check_max( 18 , "cpus" ) }
        time   = { check_max( 6.h * task.attempt, "time") }
        ext.args = "-C --output-fmt-option archive --verbosity 5"
    }
}
