/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for local genomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using genome paths.
    Can be used by any config that customises the base path using:
        $params.genomes_base / --genomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        "GRCh38" {
            // Genome reference
            fai         = "${params.genomes_base}/Hsapiens/GRCh38.p14/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna.fai"
            fasta       = "${params.genomes_base}/Hsapiens/GRCh38.p14/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.fna"
            dict        = "${params.genomes_base}/Hsapiens/GRCh38.p14/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set.dict"

            // Aligner reference
            bowtie2     = "${params.genomes_base}/Hsapiens/GRCh38.p14/bowtie2"
            bwamem         = "${params.genomes_base}/Hsapiens/GRCh38.p14/bwa"
            bwamem2     = "${params.genomes_base}/Hsapiens/GRCh38.p14/bwamem2"
            dragmap     = "${params.genomes_base}/Hsapiens/GRCh38.p14/dragmap"
            snap        = "${params.genomes_base}/Hsapiens/GRCh38.p14/snapaligner"

            // Region files
            coPGT_target= "${params.genomes_base}/Hsapiens/GRCh38.p14/regions/CMGG_coPGT-M_analyses_ROI_v1.bed"
            wes_target  = "${params.genomes_base}/Hsapiens/GRCh38.p14/regions/CMGG_WES_analysis_ROI_v4.bed"
            genelists   = "${params.genomes_base}/Hsapiens/GRCh38.p14/regions/genelists"
        }
        "GRCh38-noalt" {
            // Genome reference
            fai         = "${params.genomes_base}/Hsapiens/GRCh38.p14-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna.fai"
            fasta       = "${params.genomes_base}/Hsapiens/GRCh38.p14-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna"
            dict        = "${params.genomes_base}/Hsapiens/GRCh38.p14-noalt/seq/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.dict"

            // Aligner reference
            bowtie2     = "${params.genomes_base}/Hsapiens/GRCh38.p14-noalt/bowtie2"
            bwamem         = "${params.genomes_base}/Hsapiens/GRCh38.p14-noalt/bwa"
            bwamem2     = "${params.genomes_base}/Hsapiens/GRCh38.p14-noalt/bwamem2"
            dragmap     = "${params.genomes_base}/Hsapiens/GRCh38.p14-noalt/dragmap"
            snap        = "${params.genomes_base}/Hsapiens/GRCh38.p14-noalt/snapaligner"

            // WCX references
            wisecondorx = "${params.genomes_base}/Hsapiens/GRCh38.p14-noalt/wisecondorx"
        }
        // Legacy bcbio references
        "hg38" {
            bowtie2     = "${params.genomes_base}/Hsapiens/hg38/bowtie2"
            bwamem         = "${params.genomes_base}/Hsapiens/hg38/bwa"
            bwamem2     = "${params.genomes_base}/Hsapiens/hg38/bwamem2"
            dragmap     = "${params.genomes_base}/Hsapiens/hg38/dragmap"
            fai         = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.fa.fai"
            fasta       = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.fa"
            dict        = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.dict"
            snap        = "${params.genomes_base}/Hsapiens/hg38/snapaligner"
        }
        "hg38-noalt" {
            bowtie2     = "${params.genomes_base}/Hsapiens/hg38-noalt/bowtie2"
            bwamem         = "${params.genomes_base}/Hsapiens/hg38-noalt/bwa"
            bwamem2     = "${params.genomes_base}/Hsapiens/hg38-noalt/bwamem2"
            dragmap     = "${params.genomes_base}/Hsapiens/hg38-noalt/dragmap"
            fai         = "${params.genomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.fa.fai"
            fasta       = "${params.genomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.fa"
            dict        = "${params.genomes_base}/Hsapiens/hg38-noalt/seq/hg38-noalt.dict"
            snap        = "${params.genomes_base}/Hsapiens/hg38-noalt/snapaligner"
        }
    }
}
