params {
    genome                  = "GRCh38"
    aligner                 = "snap"
    run_coverage            = true
    disable_picard_metrics  = true
    roi                     = "${params.igenomes_base}/Hsapiens/GRCh38/regions/CMGG_coPGT-M_analyses_ROI_v1.bed"

    // trimming options
    skip_trimming           = false
    trim_front              = 6
    adapter_R1              = "CAGATC"
}
