// Tweaked resources for GCP

process {
    executor = 'google-batch'
    disk = 100.GB
    time = 24.h
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175 + 50001 + 50002 + 50003 + 50004 + 50005 + 50006) ? 'retry' : 'finish' }
    maxRetries = 5

    // tentative fix for `cannot stat` error
    // https://github.com/nextflow-io/nextflow/issues/6213#issuecomment-3173533808
    stageOutMode = 'copy'

    // BCL convert resources
    withName: '.*BCL_DEMULTIPLEX:BCLCONVERT' {
        machineType = 'template://gen-nfbatch-dev-xlarge' // n2-highmem-32, 1TB disk
        cpus       = 32
        memory     = { 64.GB * task.attempt }
        disk       = { 1.TB * task.attempt }
    }

    // Trimming resources
    // withName: '.*FASTP' {}

    // Alignment resources
    // DNA
    // withName: '.*FASTQ_TO_CRAM:FASTQ_ALIGN_DNA:BOWTIE2_ALIGN' {}
    // withName: '.*FASTQ_TO_CRAM:FASTQ_ALIGN_DNA:BWAMEM.*_MEM' {}
    // withName: '.*FASTQ_TO_CRAM:FASTQ_ALIGN_DNA:DRAGMAP_ALIGN' {}
    // withName: '.*FASTQ_TO_CRAM:FASTQ_ALIGN_DNA:STROBEALIGN' {}
    // withName: '.*FASTQ_TO_CRAM:FASTQ_ALIGN_DNA:SNAPALIGNER_ALIGN' {}
    // RNA
    // withName: '.*FASTQ_TO_CRAM:FASTQ_ALIGN_RNA:STAR_ALIGN' {}

    // Alignment post-processing resources
    withName: '.*FASTQ_TO_CRAM:SAMTOOLS_SORMADUP' {
        machineType = 'template://gen-nfbatch-dev-medium' // n2-highmem-8, 100GB disk
        disk = { input instanceof List ? input.sum { it.size() } * 3 * task.attempt : input.size() * 3 * task.attempt }
        time = 24.h
    }
    withName: '.*FASTQ_TO_CRAM:SAMTOOLS_SORT' {
        machineType = 'template://gen-nfbatch-dev-medium' // n2-highmem-8, 100GB disk
        disk = { input instanceof List ? input.sum { it.size() } * 3 * task.attempt : input.size() * 3 * task.attempt }
        time = 24.h
    }
    // withName: '.*FASTQ_TO_CRAM:BIOBAMBAM_BAMSORMADUP' {}
    // withName: '.*FASTQ_TO_CRAM:SAMTOOLS_CONVERT' {}

    // Coverage QC resources
    // withName: '.*COVERAGE:MOSDEPTH' {}
    // withName: '.*COVERAGE:SAMTOOLS_COVERAGE' {}
    // withName: '.*COVERAGE:PANELCOVERAGE' {}

    // Bam QC resources
    // withName: '.*BAM_QC:SAMTOOLS_.*$' {}
    withName: '.*BAM_QC:PICARD_.*$' {
        time = 24.h
    }

    // Misc resources
    // withName: '.*MD5SUM' {}
    // withName: '.*MULTIQC_.*$' {}
}
