// Tweaked resources for GCP

process {
    executor = 'google-batch'
    disk = 100.GB
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175 + 50001 + 50002 + 50003 + 50004 + 50005 + 50006) ? 'retry' : 'finish' }
    maxRetries = 5

    // tentative fix for `cannot stat` error
    // https://github.com/nextflow-io/nextflow/issues/6213#issuecomment-3173533808
    stageOutMode = 'copy'

    // BCL convert resources
    withName: '.*PREPROCESSING:BCL_DEMULTIPLEX:BCLCONVERT' {
        cpus       = 32
        memory     = { 64.GB * task.attempt }
        disk       = { 1.TB * task.attempt }
    }
    withName: '.*PREPROCESSING:BCL_DEMULTIPLEX:BCL2FASTQ' {
        // Never used
    }

    // Trimming resources
    withName: '.*PREPROCESSING:FASTP' {
        memory     = { 4.GB * task.attempt }
    }

    // Alignment resources
    // DNA
    withName: '.*PREPROCESSING:FASTQ_TO_CRAM:FASTQ_ALIGN_DNA:BOWTIE2_ALIGN' {
        memory = 64.GB
    }
    withName: '.*PREPROCESSING:FASTQ_TO_CRAM:FASTQ_ALIGN_DNA:BWAMEM.*_MEM' {
        memory = 64.GB
    }
    withName: '.*PREPROCESSING:FASTQ_TO_CRAM:FASTQ_ALIGN_DNA:DRAGMAP_ALIGN' {
        memory = 64.GB
    }
    withName: '.*PREPROCESSING:FASTQ_TO_CRAM:FASTQ_ALIGN_DNA:STROBEALIGN' {
        memory = 64.GB
    }
    withName: '.*PREPROCESSING:FASTQ_TO_CRAM:FASTQ_ALIGN_DNA:SNAPALIGNER_ALIGN' {
        memory = 64.GB
    }
    // RNA
    withName: '.*PREPROCESSING:FASTQ_TO_CRAM:FASTQ_ALIGN_RNA:STAR_ALIGN' {
        memory = 64.GB
    }

    // Alignment post-processing resources
    withName: '.*PREPROCESSING:FASTQ_TO_CRAM:SAMTOOLS_SORMADUP' {
        cpus = 16
        disk = { input instanceof List ? input.size().sum() * 2 * task.attempt : input.size() * 2 * task.attempt }
        memory = 64.GB
        time = 24.h
    }
    withName: '.*PREPROCESSING:FASTQ_TO_CRAM:SAMTOOLS_SORT' {}
    withName: '.*PREPROCESSING:FASTQ_TO_CRAM:BIOBAMBAM_BAMSORMADUP' {}
    withName: '.*PREPROCESSING:FASTQ_TO_CRAM:SAMTOOLS_CONVERT' {}

    // Coverage QC resources
    withName: '.*PREPROCESSING:COVERAGE:MOSDEPTH' {
        cpus = 4
        memory = 4.GB
    }
    withName: '.*PREPROCESSING:COVERAGE:SAMTOOLS_COVERAGE' {
        cpus = 1
        memory = 1.GB
    }
    withName: '.*PREPROCESSING:COVERAGE:PANELCOVERAGE' {}

    // Bam QC resources
    withName: '.*PREPROCESSING:BAM_QC:SAMTOOLS_.*$' {
        cpus = 1
        memory = 1.GB
    }
    withName: '.*PREPROCESSING:BAM_QC:PICARD_.*$' {
        cpus = 1
        memory = 16.GB
        time = 24.h
    }

    // Misc resources
    withName: '.*PREPROCESSING:MD5SUM' {
        cpus = 1
        memory = 128.MB
    }
    withName: '.*PREPROCESSING:MULTIQC_.*$' {
        cpus = 1
        memory = 4.GB
    }
}
