
conda.enabled          = false
docker.enabled         = false
singularity.enabled    = false
podman.enabled         = false
shifter.enabled        = false
charliecloud.enabled   = false

params {
    config_profile_description  = 'CMGG Slurm config'
    config_profile_contact      = '@matthdsm'
    max_memory                  = 64.GB
    max_cpus                    = 8
    max_time                    = 72.h
}

executor {
    name          = 'local'
    cpus          = 36
    memory        = 288.GB
}

process {
    executor = 'local'
    maxRetries = 2

    withLabel:process_high {
        cpus   = { check_max( 8     * task.attempt, "cpus"    ) }
        memory = { check_max( 64.GB * task.attempt, "memory" ) }
        time   = { check_max( 72.h  * task.attempt, "time"   ) }
    }
}

report {
    overwrite = true
}
