/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-cmgg/preprocessing -profile test_fastq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    aligner = "bwamem"
    run_coverage = true
    disable_picard_metrics = false

    // reference params
    genomes_ignore = true
    igenomes_ignore = false
    genome = "GRCh38"

    // fasta = "https://github.com/nf-cmgg/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_chr21.fna"
    // fai = "https://github.com/nf-cmgg/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_chr21.fna.fai"
    // dict = "https://github.com/nf-cmgg/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_chr21.dict"

    // Input data
    fastq       = "${projectDir}/tests/samplesheets/fastq/fastq_paired.csv"
    //flowcell    = "${projectDir}/tests/samplesheets/flowcell/flowcell.csv"
    //cram        = "${projectDir}/tests/samplesheets/cram/cram.csv"

}

process {
    // Disable MQC during test, since it can't be cached and takes too long
    withName: MULTIQC {
        ext.when = false
    }
}
